# Virtual Environment
venv/
env/
.venv/
.env/

proofs/
data/

# Hydra
outputs/


# Python byte-compiled files
__pycache__/
*.py[cod]

# Other common files to ignore
.DS_Store
*.log
*.out
*.err
*.pkl
*.pth
*.pt
*.pth.tar
*.tar
*.zip

